<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.project2.mapper.Bd_IndexMapper">
<!-- 검색시 검색목록 -->
<select id="search" resultType="Bd_Index">
	select bd_code_name, business_type, overcrowding_index_level
	from bd_index
	where business_type=#{business_type} and district = #{district} and bd_date = 201708
</select>
<!-- 상세보기에서 개업_폐업 -->
<select id="selectShop" resultType="Bd_Shop">
	select no_of_shop, open_rate, no_of_open, close_rate, no_of_close
	from bd_shop
	where bd_code_name =#{bd_code_name} and business_type = #{business_type}
</select>
<!-- 상세보기에서 매출분석 -->
<select id="selectSales" resultType="BdEstimatedSales">
	select bd_date as bdDate, male_sales_volume as maleSalesVolume, female_sales_volume as femaleSalesVolume, teen_sales_volume as teenSalesVolume, twenty_sales_volume as twentySalesVolume, thirty_sales_volume as thirtySalesVolume, forty_sales_volume as fortySalesVolume, fifty_sales_volume as fiftySalesVolume, sixty_sales_volume as sixtySalesVolume, male_sales_no as maleSalesNo, female_sales_no as femaleSalesNo, teen_sales_no as teenSalesNo, twenty_sales_no as twentySalesNo, thirty_sales_no as thirtySalesNo, forty_sales_no as fortySalesNo, fifty_sales_no as fiftySalesNo, sixty_sales_no as sixtySalesNo
	from bd_estimated_sales
	where business_type=#{business_type} and bd_code_name = #{bd_code_name}
	order by bd_date asc
</select>
<!-- 상세보기 유동인구분석 -->
<select id="selectFloating" resultType="BdFloatingPopulation">
	select bd_date as bdDate, total_floating_population as totalFloatingPopulation, total_male as totalMale, total_female as totalFemale, total_teen as totalTeen, total_twenty as totalTwenty, total_thirty as totalThirty, total_forty as totalForty, total_fifty as totalFifty, total_sixty as totalSixty
	from bd_floating_population
	where bd_code_name = #{bd_code_name}
	order by bd_date asc
</select>
<!-- 상세보기 상주인구 -->
<select id="selectSettled" resultType="BdSettledPopulation">
	select bd_date as bdDate, total_population as totalPopulation, total_male as totalMale, total_female as totalFemale, total_teen as totalTeen,total_twenty as totalTwenty,total_thirty as totalThirty,total_forty as totalForty,total_fifty as totalFifty,total_sixty as totalSixty
	from bd_settled_population
	where bd_code_name = #{bd_code_name}
	order by bd_date asc
</select>

</mapper>	
	
	
