<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.project2.mapper.ChartMapper" >
	<!-- 메인 페이지에 서울 전체 평균 창업 위험지수를 가져오는 쿼리 -->
	<select id="riskIndex" resultType="double">
		SELECT AVG(foundation_risk_index_value) 
		FROM foundation_risk_index
	</select>
	<!--메인 페이지에 상주인구 서울시 평균 전체와 성별별로 가져오는 쿼리 -->
	<select id="bdSettledPopulation" resultType="hashmap" parameterType="hashmap">
		select 
			sum(total_population) totalpopulation, 
			sum(total_male) totalmale, 
			sum(total_female) totalfemale 
		from bd_settled_population 
		<choose>
			<when test="bdDate == 201401">bd_date = 201401</when>
		</choose>
			group by bd_date;
	</select>
	
	<!-- 메인 페이지에 지역별 날짜에 따른 평균 상권 과밀 지수를 가져오는 쿼리 -->
	<select id="bdIndex" resultType="BdIndex" parameterType="hashmap">
		select
			bd_date as bdDate, district, avg(overcrowding_index_value) as overcrowdingAvg
		from bd_index 
		where bd_date = #{bdDate}
		group by district;
	</select>

	<select id="bdApt" resultType="hashmap">
		select bd_date, avg(avg_price) avgPrice from bd_apartment group by bd_date;
	</select>

	<select id="bdFacilities" resultType="hashmap">
		select 
			district, 
			avg(total_facilities) total, 
			avg(public_office) office, 
			avg(bank) bank,
			avg(accomodation) accomodation, 
			avg(supermarket) supermarket, 
			avg(subway_station) subwaystation, 
			avg(bus_stop) busstop 
		from bd_facilities where bd_date = 201708 group by district;
	</select>
	
	<select id="bdFloatingPopulation" resultType="hashmap">
		select 
			bd_date, 
			avg(total_floating_population) total, 
			avg(total_male) male, 
			avg(total_female) female 
		from bd_floating_population group by bd_date;
	</select>
	
	<select id="oneBdSettled" resultType="hashmap">
		select 
			avg(total_population) total, 
			avg(total_male) male, 
			avg(total_female) female 
		from bd_settled_population where bd_date = 201708 group by bd_date;
	</select>

	<select id="totalIndex" resultType="hashmap">
		select 
			bd_date, 
			avg(overcrowding_index_value) overcrowding, 
			avg(activity_index_value) activity, 
			avg(growth_index_value) growth 
		from bd_index group by bd_date;
	</select>

	<select id="estimatedSales" resultType="hashmap">
		select 
			bd_date, 
			avg(weekday_sales_rate) weekday, 
			avg(weekend_sales_rate) weekend, 
			avg(mon_sales_rate) mon, 
			avg(tue_sales_rate) tue, 
			avg(wed_sales_rate) wed, 
			avg(thu_sales_rate) thu, 
			avg(fri_sales_rate) fri, 
			avg(sat_sales_rate) sat, 
			avg(sun_sales_rate) sun 
		from bd_estimated_sales group by bd_date;
	</select>
	
	<select id="dataCrawled" resultType="hashmap">
		select * from datacrawled;
	</select>

	<select id="syarosu" resultType="hashmap">
		select * from syarosu
	</select>
	
	<select id="gyunglidan" resultType="hashmap">
		select * from gyunglidan
	</select>
	
	<select id="hongdae" resultType="hashmap">
		select * from hongdae
	</select>
</mapper>	




