<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.project2.mapper.ChartMapper" >
	<select id="riskIndex" resultType="double">
		SELECT AVG(foundation_risk_index_value) 
		FROM foundation_risk_index
	</select>
	
	<select id="bdSettledPopulation" resultType="hashmap" parameterType="hashmap">
		select 
			sum(total_population) totalpopulation, 
			sum(total_male) totalmale, 
			sum(total_female) totalfemale 
		from bd_settled_population where bd_date = #{bdDate[]} group by bd_date;
	</select>

	

</mapper>	



