a{text-decoration:none;color:black;}
.regionTable{border:1px solid black;display:none;}
.food{display:block;}
.service{display:none;}
.doso{display:none;}
.workKind{list-style:none;margin:0;padding:0;}
.workKind li{float:left;}
#search{margin-top:10px;}	